.slider{
    margin: auto;
    position: relative;
    top:-90px;
    background-color:transparent;
    width: 100%;
    margin-bottom: 40px;
   
}
.left__arrow{
    display: block;
}
.right__arrow{
    display: block;
}
 .slider:hover{
        .left__arrow {
            display: block;
        }
        .right__arrow{
            display: block;
        }
    }
.carrousel__headline{
    position: relative;
    bottom: 100px;
    /* left: 24px; */
    margin-left: 45px;
    font-size: 17px;
    font-weight:bolder;
    color: white;

}

.slider__card{
    background-color: aqua;
    width: 220px;
    height: 120px;
    /* margin: 0 2px; */
    /* border: 1px solid red; */
    border-radius: 5px;
    /* border: 1px solid red; */
}