.slider{
    margin: auto;
    position: relative;
    top:120px;
    background-color: rgb(230, 223, 223);
    width: 95%;
}

.slider__card{
    background-color: aqua;
    width: 60%;
    height: 10vw;
    /* margin: 0 15px; */
    border: 1px solid red;
}