
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


.regisPage{
    width: 100%;
    height: 100vh;
    background-repeat:no-repeat;
    background: linear-gradient(
       to top,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 150%
      ),
    
      url("./img/back.jpg");
    background-size:fill;

    ._floating{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 94%;
        margin:15px 35px;
        // padding: 8px 0px;

        img{
            height: 70px;
            width: 190px;
            object-fit: cover;
        }
        
    }

    ._centered{
        width: 100%;
        height: 90%;
        position: absolute;
        top: 15%;
        left: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
       ._mainBox{
           background-color: rgba(0, 0, 0,0.8);
           width: 450px;
           height: 100%;
           border-radius: 3px;
           display: flex;
           flex-direction: column;
        //    justify-content: center;
        //    align-items: center;
           padding: 40px 68px 0px 68px;
           h1{
               font-size: 32px;
               font-weight: 700;
               margin-bottom: 30px;
           }
           input{
               background-color: rgb(63, 60, 60);
               height: 50px;
               width: 314px;
               border: none;
               border-radius: 5px;
               margin-bottom: 15px;
               font-size: 16px;
               padding: 16px;
               color: rgb(255, 255, 255);
           }
           button{
            height: 50px;
            width: 314px;
            border: none;
            border-radius: 5px;
            margin-top: 25px;
            font-size: 16px;
            font-weight: 700;
            padding: 16px;
            color: white;
            background-color:#E50914;
             letter-spacing: 0.1px;
             cursor: pointer;
           }

           .checkFlex{
               margin-top: 8px;
               width: 314px;
               display: flex;
               justify-content: space-between;
               align-items: center;
               font-size: 13px;
               font-weight: 500;
               line-height: 15.6px;
               color: #B3B3B3;

               .rememberMe{
                   display: flex;
                   align-items: center;
                   
                   h5{
                       margin-left: 3px;
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 15.6px;
                   }
               }
           }

           .fbLog{
               display: flex;
               justify-content: flex-start;
               align-items: center;
               margin-top: 25px;
               margin-bottom: 15px;

               h5{
                margin-left: 3px;
                font-size: 14px;
                font-weight: 500;
                line-height: 15.6px;
                letter-spacing: 0.1px;
                color: #737373;
               }
           }


           .signupText{
               display: flex;
               justify-content: flex-start;
               flex-direction: row;

               h5{
                font-size: 18px;
                font-weight: 500;
                line-height: 15.6px;
                letter-spacing: 0.1px;
                color: #737373;
                margin-top: 4px;
               }
               div>a{
                   text-decoration: none;
                   margin-left: 3px;
                   color: white;
                   font-size: 18px;
                   margin-top: 0px;
               }
           }

           .googleInfo{
               margin-top: 10px;
               width: 90%;
               font-size: 13px;
               color: #8c8c8c;

               a{
                   text-decoration: none;
                   color: rgb(68, 68, 255);
                   font-size: 13px;
                   font-weight: 300;
                   &:hover{
                       text-decoration: underline solid rgb(0,113,235);
                   }
               }
           }
       }

      
            
           

           
         

        
    }

}